################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElectronicZone.Wpf/bin/Debug
/.vs/ElectronicZone.Wpf/v15/Server/sqlite3
/ElectronicZone.Wpf/obj/Debug
/ElectronicZone.Wpf.DataAccessLayer/obj/Debug
/packages
/ElectronicZone.Wpf.DataAccessLayer/bin/Debug
