<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="EmailConfig" type="ElectronicZone.Wpf.Utility.EMail.EmailConfiguration,ElectronicZone.Wpf" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  
  <appSettings>
    <!--Emails Settings-->
    <add key="AdminEmail" value="summit.dash01@gmail.com"/>
    <add key="SendEmailOnSupportIncome" value="true"/>
    <add key="SendEmailOnPurchaseOrder" value="true"/>
    <add key="SendEmailOnSalesOrder" value="true"/>
    <add key="TollFreeContactNumber" value="9437274664"/>
    <add key="WhatsAppContactNumber" value="9437274664"/>
    
    <!--Date Settings-->
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="DateOnly" value="yyyy-MM-dd"/>
    <add key="DateDisplay" value="MMMM dd, yyyy"/>
    <add key="InvoiceDatePattern" value="MMddyy"/>
    <add key="InvoiceIdPattern" value="D8"/><!--For 8 Digit SaleId-->

    <add key="PurchaseProfitPercent" value="20"/>
    
    
  </appSettings>

  <EmailConfig fromEMailName="info.ezone2016@gmail.com" fromEMailDisplayName="eZone" mailServer="smtp.gmail.com" enableSsl="true" mailServerPort="587" userName="info.ezone2016@gmail.com" mailFromAddress="info.ezone2016@gmail.com" mailFromPassword="!nf0.ez0ne2o|6">
    <EmailTypes>
      <EmailType name="PurchaseOrderMail" subject="New Purchase order has been created" htmlContentFile="Resources/EmailTemplate/PurchaseOrderCreate.html" />
      <EmailType name="SalesOrderMail" subject="New Sales order has been created" htmlContentFile="Resources/EmailTemplate/SalesOrderCreate.html" />
      <EmailType name="SupportIncomeMail" subject="New Support Income has been added" htmlContentFile="Resources/EmailTemplate/SupportIncomeCreate.html" />
      <EmailType name="ResetPasswordMail" subject="Your Password has been reset" htmlContentFile="Resources/EmailTemplate/ResetPassword.html" />
    </EmailTypes>
  </EmailConfig>
  

</configuration>